<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<div class="container">
  <form action="/categories/update" method="post">
    <input type="hidden" name="id" value="<%= category.id %>">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <h4>Editar Categoria</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <input 
            value="<%= category.title %>"
            type="text" name="title" id="title" class="form-control" placeholder="Digite o título da categoria">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success">Atualizar</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </form>
</div>
<%- include ('../../partials/footer') %>